<div class="col-md-6 d-flex align-items-center justify-content-center">
    <div>
        <h2 class="text-white col-12 mb-3">
            {{textos.contato.label01}}
        </h2>
        <h2 class="text-red col-12">
            {{textos.contato.label02}}
        </h2>
    </div>

</div>
<div class="col-md-6 d-flex align-items-center justify-content-center">
    <form onsubmit="return false">
        <div class="row">
            <div class="form-group col-12">
                <textarea class="form-control" id="mensagem" rows="3" name="mensagem" required placeholder="{{textos.contato.label03}}"></textarea>
            </div>
            <div class="form-group col-6">
                <input type="text" class="form-control" id="nome" name="nome" required placeholder="{{textos.contato.label04}}">
            </div>
            <div class="form-group col-6">
                <input type="email" class="form-control" id="email" name="email" required placeholder="{{textos.contato.label05}}">
            </div>
            <div class="form-group col-12">
                <button type="submit" class="btn btn-outline-primary btn-block" onclick="enviar()">{{textos.contato.label06}}</button>
            </div>
        </div>
    </form>
</div>