<div class="row m-0 w-100" id="home-row-01">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 d-flex align-items-center justify-content-center textos-esquerda">
                <div>
                    <h1 class="text-white col-12 mb-3">
                        {{textos.home.label01}}
                    </h1>
                    <h4 class="text-white col-12 peso-leve">
                        {{textos.home.label02}}
                    </h4>
                    <a href="#influenciadores"
                        class="btn btn-outline-primary rounded-pill peso-medio mt-5 btn-lg">{{textos.home.label03}}</a>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center diamante">
                <img src="../image/icons/logo-icon.svg" class="w-100" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row m-0 w-100 my-5" id="home-row-02">
    <div class="container">
        <div class="row">
            <h1 class="text-white col-12 upper-case my-5">
                {{textos.sobre.label01}}
            </h1>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <h4 class="text-white peso-leve">
                    {{textos.sobre.label02}}
                </h4>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <h4 class="text-white peso-leve">
                    {{textos.sobre.label03}}
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 w-100 my-5" id="home-row-03">
    <div class="container">
        <div class="row">
            <h1 class="text-white col-12 upper-case my-5">
                {{textos.sobre.label05}}
            </h1>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="clientes text-center">
                        <img src="../image/clientes/FacebookGaming.png" class="img-fluid" alt="">
                    </div>

                    <div class="clientes text-center">
                        <img src="../image/clientes/1.png" class="img-fluid" alt="">
                    </div>

                    <div class="clientes text-center">
                        <img src="../image/clientes/2.png" class="img-fluid" alt="">
                    </div>

                    

                    <div class="clientes text-center">
                        <img src="../image/clientes/3.png" class="img-fluid" alt="">
                    </div>
                    <div class="clientes text-center">
                        <img src="../image/clientes/Eletronic-Arts.png" class="img-fluid" alt="">
                    </div>
                    <div class="clientes text-center">
                        <img src="../image/clientes/4.png" class="img-fluid" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 w-100 mt-5" id="influenciadores">
    <h1 class="text-white col-12 upper-case my-5 text-center">
        {{textos.sobre.label06}}
    </h1>
</div>

<div class="row m-0 w-100 " id="home-row-04">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="row d-flex justify-content-between">
                    <div class="influencers">
                        <img src="../image/influ/Alok.jpg" alt="Snow" class="img-fluid">
                    </div>
                    <div class="influencers">
                        <img src="../image/influ/Boy.jpg" alt="Snow" class="img-fluid">
                    </div>
                    <div class="influencers">
                        <img src="../image/influ/dkz.jpg" alt="Snow" class="img-fluid">
                    </div>
                    <div class="influencers">
                        <img src="../image/influ/Kadelo.jpg" alt="Snow" class="img-fluid">
                    </div>
                    <div class="influencers">
                        <img src="../image/influ/MarcaoRX.jpg" alt="Snow" class="img-fluid">
                    </div>
                    <div class="influencers">
                        <img src="../image/influ/MasterXD.jpg" alt="Snow" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 my-5 w-100 " id="home-row-05">
    <div class="container">
        <div class="row">
            {{>_form}}
        </div>
    </div>
</div>
{{>_rodape}}